body {
    margin-top: 1%;
    margin-left: 15%;
    margin-right: 15%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    margin: 0;
}

img {
    width: 200px;
    height: 150px;
    object-fit: cover;
}

.styleOfAll {
    display: flex;
    flex: 0 0 200px;
    flex-direction: row;
    padding: 10px;
}

.date {
    flex: 0 0 100px;
    text-align: left;
    margin-right: 30px;
    color: grey;
    /* font-size-adjust: inherit; */
    /* text-size-adjust: 100%;
  font: inherit;
  vertical-align: baseline; */
}
.mainPart{
    flex: 0 0 500px;
}
.HeadofNews {
    /* margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
     */
    margin: 10px 0;
    font-weight: 400;
    font-family: Georgia;
    font-display: bold;
    font-size: 120%;
    margin: 0px;
}

.description {
    margin: 10px 0;
    font-family: Georgia;
    ;
    font-size: 60%;
}

.author {
    margin: 10px 0;
    color: #999;
    font-size: 11px;
    font-weight: 500;
    line-height: 12px;
}

.NewsPic {
    flex: 0 0 200px;
    height: 200pz;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}

.profileCard {
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
    border: 2px solid white;
    border-radius: 3px;
    width: 300px;
    margin-bottom: 15px;
}

.profileImage {
    background-image: url('https://us.123rf.com/450wm/alexraths/alexraths1311/alexraths131100069/23939590-rainbow-trout-isolated-on-a-white-background.jpg?ver=6');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 6em;
    /* em is relative to the font size */
}

.profileHeader {
    padding-top: 5px;
    border-top: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.profileHeader h1 {
    margin-top: 5em;
    font-size: 1em;
    margin: 0;
    padding: 0;
}

.profileHeader p {
    font-size: .5em;
    margin: 0;
    padding: 0;
}

.profileHeader .likes {
    font-size: .6em;
    color: salmon;
    margin: 0;
    padding: 0;
}

.profileDescription {
    font-size: .9em;
}

.profileDescription img {
    margin-top: 10px;
    text-align: center;
    width: 100%;
}